<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nuevo producto</h3>
    </div>
    <div class="card-body">
      <form action="/products/new-product" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Nombre" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control" placeholder="Observacion"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

