<div class="row">
  {{#each products}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/products/edit/{{_id}}"></a>
        </h4>
        <p>{{ description }} </p>
        <!-- DELETE REQUEST -->
        <form action="/products/change/{{_id}}?_method=POST" method="POST">
          <button type="submit" class="btn btn-success btn-block btn-sm">Cambiar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}}</h1>
      <p clsss="lead">Todavia no hay productos.</p>
      <a href="/products/add" class="btn btn-success btn-block">Crear producto</a>
    </div>
  </div>
  {{/each}}
</div>