<div class="jumbotron mt-4">
  <h1 class="display-4">Cambialo.com !</h1>
  <p class="lead">Una manera facil de cambiar lo que no usas, por cosas interesantes.</p>
  <hr class="my-4">
  <p>Muy pronto, todo el contenido y productos que soñaste...
    <a href="/products">Todos los productos</a>
  </p>
</div>
