<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/productsAll">Cambialo.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item dropdown">
            <form action="/products/search-products/{{product.title}}?_method=POST" method="POST">
              <input class="form-control search grow" type="text" placeholder="Buscar Productos" name="buscar" value="{{product.title}}">
            </form>
          </li>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/products">Todos los productos</a>
              <a class="dropdown-item" href="/products/add">Agregue un producto</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clientes 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/clients">Todos los Clientes</a>
              <a class="dropdown-item" href="/clients/add">Agregue un cliente</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Salir</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca de</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
